version: "3.9"

services:
  api:
    build: ../api
    ports:
      - "4000:4000"
    env_file:
      - ../.env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: infamous
      POSTGRES_PASSWORD: infamouspass
      POSTGRES_DB: freight
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
