version: "3.8"
services:
  api:
    build: .
    ports:
      - "4000:4000"
    env_file: .env
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: securepass
      POSTGRES_DB: freight
