name: Build Docker Images

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare registry owner
        run: echo "REGISTRY_OWNER=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build API image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./api/Dockerfile
          push: false
          tags: ghcr.io/${{ env.REGISTRY_OWNER }}/infamous-freight-api:test

      - name: Build WEB image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./web/Dockerfile
          push: false
          tags: ghcr.io/${{ env.REGISTRY_OWNER }}/infamous-freight-web:test
